<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
<link rel="shortcut icon" type="image/png" href="{% static 'image/logo_icon1.ico' %}">
</head>

<body>

        <!-- Spinner Start -->

        <!-- Spinner End -->

        <!-- Header Start -->

        <!-- Header End -->

        {% include 'header.html' %}
        <!-- Page Header Start -->
        <div class="container-fluid page-header mb-5 p-0" style="background-image: url({% static 'image/carousel.jpg' %});">
            <div class="container-fluid page-header-inner py-5">
                <div class="container text-center pb-5">
                    <h1 class="display-3 text-white mb-3 animated slideInDown">Rooms</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center text-uppercase">
                            <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                            <li class="breadcrumb-item"><a href="{% url 'booking' %}">Pages</a></li>
                            <li class="breadcrumb-item text-white active" aria-current="page">Rooms</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Page Header End -->


        <!-- Booking Start -->

        <!-- Booking End -->


<!--        &lt;!&ndash; Room Start &ndash;&gt;-->
<!--          <div class="container-xxl py-5">-->
<!--            <div class="container">-->
<!--                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">-->
<!--                    <h6 class="section-title text-center text-primary text-uppercase">Our Rooms</h6>-->
<!--                    <h1 class="mb-5">Explore Our <span class="text-primary text-uppercase">Rooms</span></h1>-->
<!--                </div>-->
<!--                <div class="row g-4">-->
<!--                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">-->
<!--                        <div class="room-item shadow rounded overflow-hidden">-->
<!--                            <div class="position-relative">-->
<!--                                <img class="img-fluid" src="{% static 'image/room-1.jpg' %}" alt="">-->
<!--                                <small class="position-absolute start-0 top-100 translate-middle-y bg-primary text-white rounded py-1 px-3 ms-4">1500/1day</small>-->
<!--                            </div>-->
<!--                            <div class="p-4 mt-2">-->
<!--                                <div class="d-flex justify-content-between mb-3">-->
<!--                                    <h5 class="mb-0">Standerd</h5>-->
<!--                                    <div class="ps-2">-->
<!--                                        <small class="fa fa-star text-primary"></small>-->
<!--                                        <small class="fa fa-star text-primary"></small>-->
<!--                                        <small class="fa fa-star text-primary"></small>-->
<!--                                        <small class="fa fa-star text-primary"></small>-->
<!--                                        <small class="fa fa-star text-primary"></small>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="d-flex mb-3">-->
<!--                                    <small class="border-end me-3 pe-3"><i class="fa fa-bed text-primary me-2"></i>1 Bed</small>-->
<!--                                    <small class="border-end me-3 pe-3"><i class="fa fa-bath text-primary me-2"></i>1 Bath</small>-->
<!--                                    <small><i class="fa fa-wifi text-primary me-2"></i>Wifi</small>-->
<!--                                </div>-->
<!--                                <p class="text-body mb-3"></p>-->
<!--                                <div class="d-flex justify-content-between">-->
<!--                                    <a class="btn btn-sm btn-primary rounded py-2 px-4" href="">View Detail</a>-->
<!--                                    <a class="btn btn-sm btn-dark rounded py-2 px-4" href="{% url 'room' %}">Book Now</a>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">-->
<!--                        <div class="room-item shadow rounded overflow-hidden">-->
<!--                            <div class="position-relative">-->
<!--                                <img class="img-fluid" src="{% static 'image/room-2.jpg' %}" alt="">-->
<!--                                <small class="position-absolute start-0 top-100 translate-middle-y bg-primary text-white rounded py-1 px-3 ms-4">2500/1day</small>-->
<!--                            </div>-->
<!--                            <div class="p-4 mt-2">-->
<!--                                <div class="d-flex justify-content-between mb-3">-->
<!--                                    <h5 class="mb-0">Deluxe</h5>-->
<!--                                    <div class="ps-2">-->
<!--                                        <small class="fa fa-star text-primary"></small>-->
<!--                                        <small class="fa fa-star text-primary"></small>-->
<!--                                        <small class="fa fa-star text-primary"></small>-->
<!--                                        <small class="fa fa-star text-primary"></small>-->
<!--                                        <small class="fa fa-star text-primary"></small>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="d-flex mb-3">-->
<!--                                    <small class="border-end me-3 pe-3"><i class="fa fa-bed text-primary me-2"></i>2 Bed</small>-->
<!--                                    <small class="border-end me-3 pe-3"><i class="fa fa-bath text-primary me-2"></i>1 Bath</small>-->
<!--                                    <small><i class="fa fa-wifi text-primary me-2"></i>Wifi</small>-->
<!--                                </div>-->
<!--                                <p class="text-body mb-3"></p>-->
<!--                                <div class="d-flex justify-content-between">-->
<!--                                    <a class="btn btn-sm btn-primary rounded py-2 px-4" href="">View Detail</a>-->
<!--                                    <a class="btn btn-sm btn-dark rounded py-2 px-4" href="{% url 'room' %}">Book Now</a>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">-->
<!--                        <div class="room-item shadow rounded overflow-hidden">-->
<!--                            <div class="position-relative">-->
<!--                                <img class="img-fluid" src="{% static 'image/room-3.jpg' %}" alt="">-->
<!--                                <small class="position-absolute start-0 top-100 translate-middle-y bg-primary text-white rounded py-1 px-3 ms-4">3500/1day</small>-->
<!--                            </div>-->
<!--                            <div class="p-4 mt-2">-->
<!--                                <div class="d-flex justify-content-between mb-3">-->
<!--                                    <h5 class="mb-0">Suit</h5>-->
<!--                                    <div class="ps-2">-->
<!--                                        <small class="fa fa-star text-primary"></small>-->
<!--                                        <small class="fa fa-star text-primary"></small>-->
<!--                                        <small class="fa fa-star text-primary"></small>-->
<!--                                        <small class="fa fa-star text-primary"></small>-->
<!--                                        <small class="fa fa-star text-primary"></small>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="d-flex mb-3">-->
<!--                                    <small class="border-end me-3 pe-3"><i class="fa fa-bed text-primary me-2"></i>square Bed</small>-->
<!--                                    <small class="border-end me-3 pe-3"><i class="fa fa-bath text-primary me-2"></i>1 Bath</small>-->
<!--                                    <small><i class="fa fa-wifi text-primary me-2"></i>Wifi</small>-->
<!--                                </div>-->
<!--                                <p class="text-body mb-3"></p>-->
<!--                                <div class="d-flex justify-content-between">-->
<!--                                    <a class="btn btn-sm btn-primary rounded py-2 px-4" href="">View Detail</a>-->
<!--                                    <a class="btn btn-sm btn-dark rounded py-2 px-4" href="{% url 'room' %}">Book Now</a>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        &lt;!&ndash; Room End &ndash;&gt;-->
        <!-- Room Status Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-4">
            <!-- Standard Room Status -->
            <div class="col-lg-4 col-md-6 wow fadeInUp text-center" data-wow-delay="0.1s">
                <div class="room-status-item shadow rounded overflow-hidden">
                    <img class="img-fluid" src="{% static 'image/roomst-1.JPG' %}" alt="Standard Room Image">
                    <h3 class="text-center pt-4">Standard Room Status</h3>
                    <h5 class="text-center text-muted">Total Rooms: {{ total_standard_rooms }}</h5>
                    <h5 class="text-center text-muted">Booked Rooms: {{ booked_standard_count}}</h5>
                    <h5 class="text-center text-muted">Available Rooms: {{ available_standard_rooms }}</h5>
                    <a class="btn btn-sm btn-dark rounded py-2 px-4 mt-3 mb-4" href="{% url 'booking' %}">Book Now</a>
                </div>
            </div>

            <!-- Deluxe Room Status -->
            <div class="col-lg-4 col-md-6 wow fadeInUp text-center" data-wow-delay="0.3s">
                <div class="room-status-item shadow rounded overflow-hidden">
                    <img class="img-fluid" src="{% static 'image/roomdu-2.JPG' %}" alt="Deluxe Room Image">
                    <h3 class="text-center pt-4">Deluxe Room Status</h3>
                    <h5 class="text-center text-muted ">Total Rooms: {{ total_deluxe_rooms }}</h5>
                    <h5 class="text-center text-muted">Booked Rooms: {{ booked_deluxe_count }}</h5>
                    <h5 class="text-center text-muted">Available Rooms: {{ available_deluxe_rooms }}</h5>
                    <a class="btn btn-sm btn-dark rounded py-2 px-4 mt-3 mb-4" href="{% url 'booking' %}">Book Now</a>
                </div>
            </div>

            <!-- Suite Room Status -->
            <div class="col-lg-4 col-md-6 wow fadeInUp text-center" data-wow-delay="0.6s">
                <div class="room-status-item shadow rounded overflow-hidden">
                    <img class="img-fluid" src="{% static 'image/roomsu-3.JPG' %}" alt="Suite Room Image">
                    <h3 class="text-center pt-4">Suite Room Status</h3>
                    <h5 class="text-center text-muted">Total Rooms: {{ total_suite_rooms }}</h5>
                    <h5 class="text-center text-muted">Booked Rooms: {{ booked_suite_count }}</h5>
                    <h5 class="text-center text-muted">Available Rooms: {{ available_suite_rooms }}</h5>
                    <a class="btn btn-sm btn-dark rounded py-2 px-4 mb-4 mt-3" href="{% url 'booking' %}">Book Now</a>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Room Status End -->



        <!-- Testimonial Start -->
       <!-- <div class="container-xxl testimonial mt-5 py-5 bg-dark wow zoomIn" data-wow-delay="0.1s" style="margin-bottom: 90px;">
            <div class="container">
                <div class="owl-carousel testimonial-carousel py-5">
                    <div class="testimonial-item position-relative bg-white rounded overflow-hidden">
                        <p>Tempor stet labore dolor clita stet diam amet ipsum dolor duo ipsum rebum stet dolor amet diam stet. Est stet ea lorem amet est kasd kasd et erat magna eos</p>
                        <div class="d-flex align-items-center">
                            <img class="img-fluid flex-shrink-0 rounded" src="img/testimonial-1.jpg" style="width: 45px; height: 45px;">
                            <div class="ps-3">
                                <h6 class="fw-bold mb-1">Client Name</h6>
                                <small>Profession</small>
                            </div>
                        </div>
                        <i class="fa fa-quote-right fa-3x text-primary position-absolute end-0 bottom-0 me-4 mb-n1"></i>
                    </div>
                    <div class="testimonial-item position-relative bg-white rounded overflow-hidden">
                        <p>Tempor stet labore dolor clita stet diam amet ipsum dolor duo ipsum rebum stet dolor amet diam stet. Est stet ea lorem amet est kasd kasd et erat magna eos</p>
                        <div class="d-flex align-items-center">
                            <img class="img-fluid flex-shrink-0 rounded" src="img/testimonial-2.jpg" style="width: 45px; height: 45px;">
                            <div class="ps-3">
                                <h6 class="fw-bold mb-1">Client Name</h6>
                                <small>Profession</small>
                            </div>
                        </div>
                        <i class="fa fa-quote-right fa-3x text-primary position-absolute end-0 bottom-0 me-4 mb-n1"></i>
                    </div>
                    <div class="testimonial-item position-relative bg-white rounded overflow-hidden">
                        <p>Tempor stet labore dolor clita stet diam amet ipsum dolor duo ipsum rebum stet dolor amet diam stet. Est stet ea lorem amet est kasd kasd et erat magna eos</p>
                        <div class="d-flex align-items-center">
                            <img class="img-fluid flex-shrink-0 rounded" src="img/testimonial-3.jpg" style="width: 45px; height: 45px;">
                            <div class="ps-3">
                                <h6 class="fw-bold mb-1">Client Name</h6>
                                <small>Profession</small>
                            </div>
                        </div>
                        <i class="fa fa-quote-right fa-3x text-primary position-absolute end-0 bottom-0 me-4 mb-n1"></i>
                    </div>
                </div>
            </div>
        </div>
       Testimonial End -->


        <!-- Newsletter Start -->
        <div class="container newsletter mt-5 wow fadeIn" data-wow-delay="0.1s">
            <div class="row justify-content-center">
                <div class="col-lg-10 border rounded p-1">
                    <div class="border rounded text-center p-1">
                        <div class="bg-white rounded text-center p-5">
                            <h4 class="mb-4">Subscribe Our <span class="text-primary text-uppercase">Newsletter</span></h4>
                            <div class="position-relative mx-auto" style="max-width: 400px;">
                                <input class="form-control w-100 py-3 ps-4 pe-5" type="text" placeholder="Enter your email">
                                <button type="button" class="btn btn-primary py-2 px-3 position-absolute top-0 end-0 mt-2 me-2">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Newsletter Start -->
        

        <!-- Footer Start -->

        <!-- Footer End -->

{% include 'footer.html' %}

</body>

</html>